.About-us {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.About-us h1,
.About-us h4,
.About-us p {
    color: white; /* Text color for better contrast on dark background */
}

.contactinfo {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.contactinfo01 {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: rgb(166, 162, 162);
    margin-right: 10px;
    padding-right: 10px;
}

.contactinfo01 p4,
.contactinfo01 p {
    margin: 0px;
    padding: 0px;
}

.navbar .nav-link {
    font-size: 18px;
}

.navbar .nav-link:hover {
    color: black;
}

html, body {
    height: 100vh;
    background-image: url("../images/background01.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}