.Landingpage {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 20px;
    padding-top: 50px;
}

.Landingpage img {
    width: 60%;
    height: auto;
    max-width: 60%;
}

.text01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 5px;
}

.text01 h1 {
    margin: 10px;
    padding: 5px;
    color: white;
    font-style: oblique;
}

.text01 p{
    margin: 10px;
    padding: 5px;
    color: white;
    font-style: italic;
}

.navbar {
    width: 100vw;
    position: fixed;
}

.navbar-nav.mx-auto {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar .nav-link {
    font-size: 18px;
}

.navbar .nav-link:hover {
    color: black !important;
}

html, body {
    height: 100%;
    background-image: url("../images/background01.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
